body {
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

/* global styles */
img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
}

.soft-blue {
    color: hsl(215, 51%, 70%);
}

.white {
    color: white;
}

.main-text, .secondary-text {
    color: hsl(0, 0%, 100%);
}

/* main part of card */
main {
    margin: 5em auto;
    box-shadow: -1px 28px 28px 23px rgba(0, 0, 0, 0.73);
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: hsl(216, 50%, 16%);
    
}

@media (max-width: 1000px) {
    main {
        width: 50%;
        text-align: center;
    }
}

@media (max-width: 700px) {
    main {
        width: 100%;
        
    }
}

/* card items */
.card-container {
    width: 85%;
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    
}


.author {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid rgba(255,255,255,0.30);
    padding-top: 1em;
}

.author img {
    height: 50px;
    width: auto;
    margin-right: 1em;
}

.author p span {
    margin-right: 0.5em;
}

.secondary-text {
    display: flex;
    justify-content: space-between;
}

.eth::before {
    content: url('/images/icon-ethereum.svg');
    margin-right: 0.5em;
}

.eth {
    color: hsl(178, 100%, 50%);
}

.time::before {
    content: url('/images/icon-clock.svg');
    margin-right: 0.5em;
}

.time {
    color: hsl(215, 51%, 70%);
}

.creator {
    border-radius: 50%;
    border: 1px solid white;
}

